/** font settings **/

@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400|Roboto+Condensed:300,700&display=swap');

/** GENERAL SETTINGS **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Roboto Condensed', sans-serif;
    --primary-color: #4792a5;
    --light-color: #efefef;
    --dark-color: #3c3c3c;
    --general-transition: all .4s ease;
}

html {
    font-size: 10px;
    color: var(--dark-color);
    font-family: var(--primary-font);
    scroll-behavior: smooth;
}